.wrapper__main-chat
  .wrapper__main-chat__group-header
    .wrapper__main-chat__group-header__group-info
      .wrapper__main-chat__group-header__group-info__group-name
        test
      .wrapper__main-chat__group-header__group-info__group-member
        member: hoge
    .wrapper__main-chat__group-header__group-edit
      = link_to "/" do
        Edit

  .wrapper__main-chat__message-list
    .wrapper__main-chat__message-list__post
      .wrapper__main-chat__message-list__post__post-info
        .wrapper__main-chat__message-list__post__post-info__name
          yamada 
        .wrapper__main-chat__message-list__post__post-info__time
          12244566
      .wrapper__main-chat__message-list__post__message
        おはようございます

  %form.wrapper__main-chat__message-form
    .wrapper__main-chat__message-form__post-box
      .wrapper__main-chat__message-form__post-box__text
        %input.wrapper__main-chat__message-form__post-box__text__text-form{"placeholder": "type a message", "type": "text"}
        %label{class: "wrapper__main-chat__message-form__post-box__text__img"}
          = icon('fas', 'image')
          %input{type: "file", class: "wrapper__main-chat__message-form__post-box__text__img__file"}
      %input.wrapper__main-chat__message-form__post-box__send{"name": "commit", "type": "submit", "value": "Send"}

  