= javascript_include_tag 'autoReload'
%body
  .wrapper
    = render "side_bar"
    = render "main_chat"

%button{:onclick => "TogetherJS(this); return false;"} TogetherJSを起動！

%script{:src => "https://togetherjs.com/togetherjs-min.js"}